<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- namespace的值就是dao接口的完整路径，就这个demo而言namespace 就是userDao.java的完整路径-->
<mapper namespace="com.example.ssm.dao.UserDao">
	<resultMap id="UserResultMap" type="com.example.ssm.pojo.User">
		<id column="id" property="id" />
		<result column="user_name" property="userName" />
		<result column="password" property="password" />
		<result column="age" property="age" />
	</resultMap>
	
	<sql id="Base_Column_List">
		id, user_name, password, age
	</sql>
	
	<select id="selectByPrimaryKey" resultMap="UserResultMap" parameterType="Integer">
		select
		<include refid="Base_Column_List" />
		from user
		where id = #{id}
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="Integer">
		delete from
		user
		where id = #{id}
	</delete>
	
	<insert id="insert" parameterType="com.example.ssm.pojo.User">
		insert into user (id, user_name, password, age)
		values (#{id}, #{userName}, #{password}, #{age})
	</insert>
	
	<insert id="insertSelective" parameterType="com.example.ssm.pojo.User">
		insert into user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="userName != null">
				user_name,
			</if>
			<if test="password != null">
				password,
			</if>
			<if test="age != null">
				age,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="userName != null">
				#{userName},
			</if>
			<if test="password != null">
				#{password},
			</if>
			<if test="age != null">
				#{age},
			</if>
		</trim>
	</insert>
	
	<update id="updateByPrimaryKeySelective" parameterType="com.example.ssm.pojo.User">
		update user
		<set>
			<if test="userName != null">
				user_name = #{userName},
			</if>
			<if test="password != null">
				password = #{password},
			</if>
			<if test="age != null">
				age = #{age},
			</if>
		</set>
		where id = #{id}
	</update>
	
	<update id="updateByPrimaryKey" parameterType="com.example.ssm.pojo.User">
		update user
		set
		user_name = #{userName},
		password = #{password},
		age = #{age}
		where id = #{id}
	</update>
</mapper>